body {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #ffffff;
    white-space: nowrap;
}

h2 {
    text-align: center;
}

.switch-container {
    display: flex;
    justify-content: space-between;
    margin-left: 0.5rem;
}

label {
    margin-right: 1rem;
}

#button-container {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button {
    font-size: 13px !important;
    width: 50% !important;
    margin: auto !important;
}

details {
    margin-left: 0.5rem;
    margin-top: 1.5rem;
}
