html {
    background-color: #141414;
    color: white;
}

h2 {
    text-align: center;
    margin-bottom: 1rem !important;
}

p {
    text-align: center;
    font-size: 14px !important;
    line-height: 0;
}

#buttonContainer {
    float: right; 
    display: flex;
}

button {
    width: 13rem !important;
    margin-right: 1rem !important; 
}

#editor {
    position: relative;
    width: 100vw;
    height: 55vh;
}

#warningMsg {
    font-size: 11px !important;
    font-style: italic;
}

#faqContainer {
    width: 60vw;
    margin: auto;
}

#faqContainer p {
    text-align: left !important;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: normal;
}

#faqContainer summary {
    font-weight: bold;
}

#showFaqButton {
    width: 10rem !important;
    font-weight: normal !important;
    padding: 0.2rem;
    margin: auto;
    border: 0em;
}