body {
    width: fit-content;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    background-color: #1a8cd8;
    color: #ffffff;
    white-space: nowrap;
}

h2 {
    text-align: center;
}

.switch-container {
    display: flex;
    justify-content: space-between;
}

input {
    accent-color: #07283e;
}

label {
    margin-right: 1rem;
}

div {
    text-align: center;
}

button {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    padding: 4px 12px;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    white-space: nowrap;
    word-wrap: break-word;
}

button:hover {
    opacity: 0.9;
}
