body {
    width: fit-content;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    background-color: #1a8cd8;
    color: #ffffff;
    white-space: nowrap;
}

h2 {
    text-align: center;
}

.switch-container {
    display: flex;
    justify-content: space-between;
}

input {
    accent-color: #07283e;
}

label {
    margin-right: 1rem;
}